/* reset CSS */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


#main {

}

html {
    scroll-behavior: smooth;
    font-family: Arial, Helvetica, sans-serif;
}

/* common */
.clear {
    clear: both;
}

.text-center {
    text-align: center !important;
}

.row {
    margin-left: -8px;
    margin-right: -8px;
}

.row::after {
    content: "";
    display: block;
    clear: both;
}

.column {
    float: left !important;
    padding-left: 8px;
    padding-right: 8px;
}

.column-one {
    width: 100%;
}

.column-two {
    width: 50%;
}

.column-three {
    width: calc(100%/3);
}

.column-four {
    width: calc(100%/4);
}

.btn {
    display: inline-block;
    color: #fff;
    background-color: #000;
    border: none;
    padding: 11px 16px;
    margin-top: 15px;
    cursor: pointer;
}

.mt-8 {
    margin-top: 8px;
}

.mt-16 {
    margin-top: 16px;
}

.pd-b-84 {
    padding-bottom: 84px !important;
}

.pull-right {
    float: right !important;
}

/*Main  */
#main {

}
#header {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    height: 46px;
    background-color: #000;
}

#nav, .subnav {
    list-style-type: none;
}

#nav > li {
    display: inline-block;
    min-width: 196px;
}

#nav li {
    position: relative;
}

#nav li:hover .subnav {
    display: block;
}

#nav > li > a {
    color: #fff;
    text-transform: uppercase;
}

#nav li a {
    text-decoration: none;
    line-height: 46px;
    padding: 0 35px;
    display: block;
    font-size: 14px;
}

#nav > li:hover > a,
#nav .subnav li:hover a {
    background-color: #ccc;
    color: #000;
}

#nav .subnav {
    display: none;
    position: absolute;
    min-width: 200px;
    background-color: #fff;
    box-shadow: 0 0 10px #ccc;
    top: 100%;
    left: 0;
}

#nav .subnav a {
    color: #000;
    padding: 0 16px;
    line-height: 38px;
}

#nav .home-icon {
    margin-right: 10px;
}

#nav .nav-arrow-down {
    font-size: 12px;
    cursor: pointer;
}

/* slider-CSS */
#slider {
    position: relative;
    margin-top: 46px;
    padding-top: 49%;
    background: url('../img/Yourname4.jpg') center / cover no-repeat;

}

#slider #img-welcome {
    position: absolute;
    top: 0;
    width: 100%;
    text-align: center;
}

#slider #img-welcome img {
    width: 16%;
}

#slider .text-content {
    position: absolute;
    color: #fff;
    bottom: 46px;
    width: 100%;
    text-align: center;
}

#slider .text-heading {
    
    font-weight: 500;
    font-size: 150%;
}

#slider .text-description {
    font-size: 100%;
    margin-top: 16px;
}
/* content-CSS */
#content {
    
}

#content .content-section {
    width: 56%;
    padding: 64px 0;
    margin-left: auto;
    margin-right: auto;
}

#content .section-heading {
    font-size: 30px;
    font-weight: 500;
    letter-spacing: 6px;
    text-align: center;

}
#content .section-sub-heading {
    font-size: 15px;
    margin-top: 25px;
    font-style: italic;
    opacity: 0.6;
    text-align: center;
}

#content .about-icon,
#content .hobby-icon {
    font-size: 90%;
}

#content .content-section ul {
    list-style-type: none;
    font-size: 15px;
    margin-top: 25px;
    line-height: 1.6;
    text-align:justify;
}

/* Setup khung ảnh 1 */
#content .column.column-four img {    
    width: 80%;
    border-radius: 25px;
    box-shadow: 8px 12px 10px #ccc;
}
/* Setup khung ảnh 2 */
#content .column.column-three img {
    width: 60%;
    border-radius: 10px;
}

/* hobby - CSS */
.hobby-section {
    background-color: #000;
    color: #fff;
}

#content .list-hobby > li {
    margin-bottom: 10px;
}

#content .movie-icon,
#content .sport-icon {
    font-size: 90%;
    margin-right: 10px;
}

#content .list-box {
    margin-bottom: 25px;
}
#content .list-hobby li:hover,  
#content .list-hobby li:hover > a {
    opacity: 0.8;
}

.list-box .column.column-two {
    padding-left: 12%;
    font-style: italic;
    color: orange;
}

.list-box .column.column-two a{
    color: orange;
    text-decoration: none;
}

/* Contact CSS */
#content .contact-address {
    margin-top: 48px;
}

#content .sub-contact-address {
    font-size: 18px;
    line-height: 28px;
}

#content .sub-contact-address i {
    width: 30px;
    display: inline-block;
}

#content .table-contact-address {
    font-size: 15px;
}

.table-contact-address .sub-input {
    padding: 10px;
    border: 1px solid #ccc;
    width: 100%;
}

.table-contact-address button:hover {
    background-color: #ccc;
    color: #000;
}

/* Footer CSS*/
#footer {
    
}

#footer #footer-section {
    color: #000;
    background-color: #f1f1f1;
    text-align: center;
    padding: 64px 55px;
    opacity: 0.6;
}

#footer a {
    text-decoration: none;
    color: #000;
    cursor:default;
    margin: 0 5px;
    font-size: 30px;
}

#footer a:hover {
    opacity: 0.6;
}

#footer i {
    font-size: 20px;
}

#footer .facebook-button {
    color: #fff;
    font-size: 18px;
    padding-top: 3px;
    padding-left: 4px;
    background-color: #000;
}

#footer p {
    font-size: 15px;
    margin: 15px 0 ;
}

/* Begin: Modal */
.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.5);
    align-items: center;
    justify-content: center;
    display: none;
}

.modal.open {
    display: flex;
}

.modal-container {
    background-color: #fff;
    width: 60%;
    position: relative;
    animation: modalFadeIn ease .5s;
}

@keyframes modalFadeIn {
    from {
        opacity: 0;
        transform: translateY(-500px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.modal-close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 12px;
    opacity: 0.6;
    cursor: pointer;
}

.modal-close:hover {
    opacity: 1;
    background-color: #dab174;
    color: #000;
}

.modal-header {
    background: #dfa246;
    height: 108px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-header-label {
    font-size: 30px;
    color: #fff;
    letter-spacing: 4px;
}

.modal-heading-icon {
    padding-right: 6px;
}

.modal-body {
    padding: 16px;
}

.modal-label {
    display: block;
    margin-top: 12px;
    margin-bottom: 12px;
}

.modal-input {
    border: 1px solid #ccc;
    width: 100%;
    padding: 9px;
    margin-bottom: 24px;
    font-size: 15px;
}

.modal-bank .modal-bank-scan img {
    width: 100%;
}

.modal-bank p {
   text-align: center;
}

.modal-bank .bank-number {
    font-size: 14px;
    color: #dfa246;
}

.modal-bank .remind-p {
    font-size: 15px;
    line-height: 24px;
}

.zalo-word {
    color: #006dff;
    font-weight: 600;
    font-style: normal;
}

.pay-word {
    color: #fff;
    line-height: 100%;
    font-weight: 600;
    font-style: normal;
    background-color: #03ca77;
}

#buy-tickets {
    background-color: #dfa246;
    color: #fff;
    font-weight: 600;
    font-size: 15px;
    margin-top: 8px;
    padding: 8px;
    border: none;
    width: 100%;
    text-transform: uppercase;
    cursor: pointer;
}

#buy-tickets:hover {
    opacity: 0.8;
}

#buy-tickets:active {
    opacity: 1;
}

.modal-footer {
    padding: 8px;
    text-align: right;
    font-size: 14px;
}

.modal-footer a {
    color: #2196f3;
}
